{
	debug
	http_port 8080
	https_port 8443
	local_certs

	appd {
		command hostname {
			cmd hostname
		}
		app test-py-http-server {
			cmd python3 -m http.server 4080
			#noop
		}
	}
}

127.0.0.1, localhost {
	route /pytest/* {
		reverse_proxy localhost 4080
	}

	route /version* {
		respond * "1.0.0" 200
	}

	route {
		respond "my app"
	}
}
